@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --background-light-color: #9edbd3;
    --color1: #77c7b5;
    --color2: #84d2c0;
    --color3: #87c9c8;
    --color4: #71aab2;

    --button-radius: .7em;
    --input-radius: .7em;
    --panel-radius: 1em;
    --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body, html {
    background-color: var(--background-light-color);
    height: 100%;
    width: 100%;
}

body {
    width: 50%;
    margin: auto;
    text-align: center;
}

* {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

@media (width <= 1200px) {
    body {
        margin: 0;
        width: 100%;
    }
}

