.account-image
{
    border-style: groove;
    border-width: 7px;
    border-color:honeydew;
}

.account-credentials-container
{
    border-style: groove;
    border-width: 7px;
    border-color:honeydew;
    height: 90%;
}

#account-button
{
    background-color: #00917c;
    color: white;
    border-color: transparent;
}
.account-credentials
{
    padding-left: 2%;
}
#account-global-container
{
    height: 80%;
}

#account-table
{
    width: 100%;
}
.account-transactions
{
    width:100%;
    border-style: groove;
    border-width: 7px;
    border-color:honeydew;
}

table > * {
    text-align: center;
}

.copyRow {
    display: none;
}

#userInfo {
    text-align: center;
    margin-bottom: 2%;
    font-size: 30px;
}

#modifyCredentials {
    margin-top: 2%;
    width: 100%;
}

#modifyForm {
    display: none;
    position:absolute;
    top:50%;
    left:50%;
    width:85%;  /* adjust as per your needs */
    height:85%;   /* adjust as per your needs */
    margin-left:-30%;   /* negative half of width above */
    margin-top:-20%;   /* negative half of height above */
}

.form {
    width: 70%;
}

.form-head {
    width: 100%;
    display: inline-block;
}

.form-head > * {
    float: left;
    margin: 3%;
}

.form > .form-data {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-data .save-row {
    text-align: center;
}

.form-data input {
    margin-top: 1%;
    margin-bottom: 1%;
}

.form-data button {
    margin-top: 5%;
}

.form-data #error-list {
    color: red;
}