#authorized-buttons, #unauthorized-buttons {
    visibility: hidden;
}

.cart-logo {
    width: 24px !important;
    height: 24px !important;
    margin-left: 5px;
    margin-right: -3px;
}

.navbar-end {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.navbar-menu {
    animation: navAnimOpen .2s ease-in-out;
}

@keyframes navAnimOpen {
  0% {display: none;opacity: 0;max-height: 0;}
  1% {display: block;opacity: 0;}
  100% {opacity: 1;max-height: 396px;}
}