body {
    width: 100%;
    height: 100%;
    display: block;
}

.product {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.product > img {
    width: 100%;
    height: 100%;
    margin-left: 300px;
    border: 1px solid black;
}